@fonttittle:'Open Sans', sans-serif;
@fontcolor: #797979;

.font(@fontName; @urlName: @fontName; @weight: normal; @style: normal) {
  font-family: '@{fontName}';
  src: url('../fonts/@{urlName}.ttf');
    font-weight: @weight;
    font-style: @style;
}
@font-face {
	.font (@fontuserform);
}
@fontuserform: 'sourcesanspro';
.form{		
		background:#f8f8f8;
	
	&__title{
		font-size: 44px;
		font-family: @fonttittle;
		display: table;
  background: linear-gradient(#f8f8f8 25%, #ff8414 66%, );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
	}
	&__text{
		display: inline-block;
		font-family: @fontuserform;
		font-size: 18px;
		color: @fontcolor;
		min-width: 95px;
	}
	&__display{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__margin{
		margin: 0  0 10px 0;
	}
	&__marginname{
		margin: 0  0 20px 0;
	}
}