@fontuserform:'Open Sans', sans-serif;

.form
	{
		padding: 20px;
	
	&__title{
		font-size: 44px;
		font-family: @fontuserform;
		display: table;
  background: linear-gradient(#f8f8f8 25%, #ff8414 66%, );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	}
}