.Startnow{
	text-align: center;
	&__button{ 
		width: 80%;
		font-size: 48px;
		color: #ffffff;
		font-family: @fontuserform;
		background: linear-gradient(#a2c430 50%, #78af02 50%);
		border-radius: 35px;
		border: 1px solid #ccc;
		}
}