.user-content{
	margin: 0 auto;
	width: 960px;
	display: flex;
	flex-direction: row;

&__block{
		width: 49.5%;
		height: 470px;
		overflow: hidden;
		margin: 20px 0;
		padding-right: 25px;
	}
&__slider{
		background-color: #f9f8f6;

	}
}